@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #0c0c0c;
    background: #e2e5e9;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
}

h1,
h2 {
    margin-bottom: 15px;
}

 .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
} 

/* NAV */
.navbar a {
    text-decoration: none;
    color: #ededf0;
    font-weight: bold;
    font-size: 20px;
    
}


.navbar .logo {
    font-size: 36px;
    font-weight: bold;
}

.navbar {
    background: #242423;
    color: #f9f9f9;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

/* HEADER- HOME*/
.header {
    color: #0c0c0c;
    min-height: 400px;

}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin:0;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    
}
.header p{
    text-align: justify;
    margin: 0px;
    padding: 10px;
}
.header hr{
    border: 1px solid;
}
.boxes{
    background-color: #FFFFE8;
}
.title {
    text-align: center;
    font-weight: 600;
    font-size: 46px;
    margin: 30px;
}

.boxes .box-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap:wrap;
    margin:auto;
    flex-wrap: row wrap;
    
    
}

.boxes .box {
    width: 350px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box div{
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;

}
.box img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*ABOUT PAGE */
.header-about{
    padding: 50px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    
}
.section-container{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    background-color: #F7F7F7;
}
.mission ,.vision{
    flex: 1;
    flex-wrap: wrap;
    margin: 15px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:#aca9a930;
}
.section-container h2{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: underline;
    
}
.section-container p{
    text-align: center;
    font-weight: lighter;
    font-size: large;
    
}


/*FOOTER */
.footer{
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   padding:30px;
   color: #fff;
   background-color: #25242a;
}
.footer > *{
    flex: 1 100%;
}
.left-area{
    margin-right: -12em;
}
.footer-bottom img{
    width: 15%;
    margin: 0;
}
.footer-bottom{
    margin: 0;
    padding:0;
}
.footer-bottom p{
    margin: 0;
}
.footer h2{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ff8c00;
    letter-spacing: 3px;
}
.footer ul{
    text-decoration: none;
    padding-left: 0;
}
.footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.right-area{
    display: flex;
    flex-flow: row wrap;
}
.right-area > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a{
    color: #999;
}
.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}
.left-area p{
    padding-right:20%;
    color: #999;
}
.socials{
    margin-top: 2.2em;
}
.socials a{
    background: darkorange;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.socials i{
    color: #fff;
    padding: 10px 12px;
    font-size: 20px;
}
.btn{
    border:none;
    background-color: darkorange;
    color:#fff;
    padding: 10px 30px;
}
.search-box input{
    height: 36px;
}

/*MEDIA QUERY*/
@media screen and (min-width: 600px) {
    .right-area > *{
        flex: 1;
    }
    .left-area{
        flex: 1 0px;
    }
    .right-area{
        flex: 2 0px;
    }
}
@media screen and (max-width:600px){
    .footer{
        padding: 15px;
    }
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .header-about{
        flex-direction: column;
        text-align: center;
        margin-top: auto;
    }
    .section-container{
        flex-direction: column;
        text-align: center;
    }
}


